<extend name="Public/common" />
<block name="body-main">
	<div id="wrap-all">
	    <div id="main">
	        <div class="global_layout" style="background-image: none;">
						<!--leftpanel start-->
						<include file="Public/leftpanel" />
						<!--leftpanel end-->
	            <div class="centerpanel">
								<div class="layout_content ng-scope">
									<div class="layout_content_main dashboard">
										<!--navbar start-->
										<div class="mod-navbar">
											<include file="Public/navbar" />
										</div>
										<!--navbar end-->
										<div class="height-nonav dashboard-body wt-scroll" style="top:84px;">
											<dl class="frame">
												<div class="empty-panel noborder empty-panel-mt-10 ng-scope" ><i class="fa fa-envelope-o"></i><br><br><p class="fs_17">你可以把重要邮件、微博、微信、网盘、Evernote等应用中的内容，转发到邮箱 <strong class="color_main ng-binding">biner@foxmail.com</strong><br>以便收集，或者通过话题与团队成员分享。</p></div>
											</dl>
										</div>
									</div>
								</div>
	            </div>
	        </div>
	    </div>
	</div>
</block>
<block name="footer-end">
	<script type="text/javascript">

	</script>
</block>
