<extend name="Public/common" />
<block name="body-main">
	<div id="wrap-all">
	    <div id="main">
	        <div class="global_layout" style="background-image: none;">
						<!--leftpanel start-->
						<include file="Public/leftpanel" />
						<!--leftpanel end-->
	            <div class="centerpanel">
								<div class="layout_content ng-scope">
									<div class="layout_content_main dashboard">
										<!--navbar start-->
										<div class="mod-navbar">
											<include file="Public/navbar" />
										</div>
										<!--navbar end-->
										<div class="height-nonav dashboard-body wt-scroll" style="top:84px;">
											<dl class="frame">
												<div class="empty-panel noborder empty-panel-mt-10 ng-scope" ><i class="fa fa-flag"></i><br><br><p class="fs_17"><strong class="color_main ng-binding">{$user.name}</strong><br><br>欢迎您登录，使用愉快，有任何问题请联系 i@biner.me。<br/>更多请访问:<a href="http://www.biner.me" target="_blank">http://www.biner.me</a></p></div>
											</dl>
										</div>
									</div>
								</div>
	            </div>
	        </div>
	    </div>
	</div>
</block>
<block name="footer-end">
	<script type="text/javascript">

	</script>
</block>
