<extend name="Public/common" />
<block name="body-main">
	<div id="wrap-all">
	    <div id="main">
	        <div class="global_layout" style="background-image: none;">
						<!--leftpanel start-->
						<include file="Public/leftpanel" />
						<!--leftpanel end-->
	            <div class="centerpanel">
								<div class="layout_content ng-scope">
									<div class="layout_content_main dashboard">
										<!--navbar start-->
										<div class="mod-navbar">
											<include file="Public/navbar" />
											<!-- <div class="main">
													<div class="showOnNav"><i class="fa fa-reorder"></i></div>
											    <div class="title"><h3>欢迎登录</h3></div>
											    <div class="main_toolbar"></div>
											</div>
											<div class="sub">
											    <ul class="mod_subnav">
											        <li><a href="#" class="active">主界面</a></li>
											        <li><a href="/calendar">统计分析</a></li>
											        <li><a href="/feed" >系统状态</a></li>
											    </ul>
											</div> -->
										</div>
										<!--navbar end-->
										<div class="height-nonav dashboard-body wt-scroll" style="top:84px;">
											<dl class="frame">
												<div class="empty-panel noborder empty-panel-mt-10 ng-scope" ><i class="fa fa-flag"></i><br><br><p class="fs_17"><strong class="color_main ng-binding">{$user.name}</strong><br><br>欢迎您登录，使用愉快，有任何问题请联系 i@biner.me。</p></div>
											</dl>
										</div>
									</div>
								</div>
	            </div>
	        </div>
	    </div>
	</div>
</block>
<block name="footer-end">
	<script type="text/javascript">

	</script>
</block>
