<extend name="Public/common" />
<block name="body-main">
	<div id="wrap-all">
	    <div id="main">
	        <div class="global_layout" style="background-image: none;">
						<!--leftpanel start-->
						<include file="Public/leftpanel" />
						<!--leftpanel end-->
	            <div class="centerpanel">
								<div class="layout_content ng-scope">
									<div class="layout_content_main dashboard">
										<!--navbar start-->
										<div class="mod-navbar">
											<include file="Public/navbar" />
										</div>
										<!--navbar end-->
										<div class="height-nonav dashboard-body wt-scroll" style="overflow-x: hidden; overflow-y: auto;top:84px">
											<dl class="frame">
												<div class="row">
													<div class="col-md-12">
														<div class="panel panel-default">
															<div class="table-responsive">
																<table class="table table-hover table-striped">
																	<include file="Public/tdtitle" />
																	<tbody>
											              <volist name="data.list" id="vo">
											                <tr>
																				<td><input type="checkbox" class="checkbox" name="key" value="{$vo.id}"></td>
											                  <td class="hidden-sm hidden-xs">{$vo.id}</td>
											                  <td>{$vo.name}</td>
											                  <td class="hidden-sm hidden-xs">{$vo.remark}</td>
											                  <td>{:getStatus($vo['status'])}</td>
											                  <td>
											                    <a href="{:U('edit',array('id'=>$vo['id']))}" class="btn btn-primary btn-xs" role="button">编辑</a>
											                    <a href="{:U('access',array('id'=>$vo['id']))}" class="btn btn-primary btn-xs" role="button">权限</a>
											                    <button type="button" class="btn btn-danger btn-xs ajax-del" data-url="{:U('delete',array('id'=>$vo['id']))}" id="delete_1"> 删除 </button>

											                    </td>
											                </tr>
											              </volist>
																	</tbody>
																</table>
															</div>
														</div>
														<nav class="footer-navbar">
															<div class="navbar-nav">
															</div>
															<div class="navbar-right">
																<ul class="pagination">
																	{$data.page}
																</ul>
															</div>
														</nav>
													</div>
												</div>
											</dl>
										</div>
									</div>
								</div>
	            </div>
	        </div>
	    </div>
	</div>
</block>
<block name="footer-end">
	<script type="text/javascript">
	 // $('.datetimepicker1').datetimepicker({pickTime: false, minViewMode: 'days', language: 'zh-cn', maxDate: '{:date('Y-m-d')}'});
		$('.item').click(function(event) {
			var that = $(this);
			var id = that.attr('data-id');
			var d = dialog({
				title: '日志详情',
				width:800,
				height:400,
				url:'?m=Admin&c=Log&a=item&id='+id,
				quickClose: true,
				padding: 0
			}).showModal();
		});
	</script>
</block>
