<extend name="Public/common" />
<block name="head-ext"></block>
<block name="body-header"></block>
<block name="body-main">
<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-hover table-striped">
					<tbody>
							<tr>
								<td><img src="<if condition="$vo.avatar eq ''">/static/images/avatar.png<else/>{$vo.avatar}</if>" id="src_avatar" class="img-circle" style="width:80px;height:80px;"></td>
								<td>
								姓名：{$vo.name}
								<br/>
								性别：{:getSex($vo['sex'])}
								<br/>
								生日：{:fdate('Y-m-d',$vo['birthday'])}
								</td>
							</tr>
							<tr>
								<td>分组</td>
								<td>{$vo.group.name}</td>
							</tr>
							<tr>
								<td>账户</td>
								<td>{$vo.account}</td>
							</tr>
							<tr>
								<td>昵称</td>
								<td>{$vo.nickname}</td>
							</tr>
							<tr>
								<td>邮箱</td>
								<td>{$vo.email}</td>
							</tr>
							<tr>
								<td>电话</td>
								<td>{$vo.telphone}</td>
							</tr>
							<tr>
								<td>地址</td>
								<td>{$vo.address}</td>
							</tr>
							<tr>
								<td>登录次数</td>
								<td>{$vo.login_count}</td>
							</tr>
							<tr>
								<td>上次登录IP</td>
								<td>{$vo.last_login_ip}</td>
							</tr>
							<tr>
								<td>上次登录时间</td>
								<td>{:fdate('Y-m-d H:i:s',$vo['last_login_time'])}</td>
							</tr>
							<tr>
								<td>创建时间</td>
								<td>{:fdate('Y-m-d H:i:s',$vo['created_time'])}</td>
							</tr>
							<tr>
								<td>修改时间</td>
								<td>{:fdate('Y-m-d H:i:s',$vo['update_time'])}</td>
							</tr>
							<tr>
								<td>备注</td>
								<td>{$vo.remark}</td>
							</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</block>
<block name="footer-common"></block>
<block name="footer-ext"></block>
