@charset "utf-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html.inner-html {
	overflow:visible!important;
	height:auto
}
html.inner-html body {
	position:static;
	overflow:visible;
	height:auto
}
html.inner-html body #wrap-all {
	position:static;
	height:100%
}
body {
    font-family: "Helvetica Neue",helvetica,'lucida grande','lucida sans unicode',lucida,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #484744;
    background-color: #fff;
}
b, strong {
    font-weight: 700;
}
/*a:link {
    color: #6f6e6b;
    outline: 0 none;
}*/
.avatar {
    position: relative;
    display: inline-block;
    zoom: 1;
}
a {
    color: #6f6e6b;
    outline: 0 none;
    -moz-outline: none!important;
    color: #5595cf;
    text-decoration: none;
    background: 0 0;
}

img {
    vertical-align: middle;
    border: 0;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
li {
    list-style-type: none;
}
dl {
    margin-top: 0;
    margin-bottom: 20px;
}
dt {
    font-weight: 700;
}
dd, dt {
    line-height: 1.42857143;
}
.pull-right {
    float: right;
    float: right!important;
}
dd {
    margin-left: 0px;
}
.h3, h3 {
    font-size: 24px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
form {
    margin: 0;
}
.avatar .avatar-face {
    display: inline-block;
    position: relative;
    zoom: 1;
}
.avatar .avatar-face img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #f7f7f7;
    overflow: hidden;
    line-height: 12px;
    font-size: 12px;
    text-align: left;
    -webkit-box-shadow: 0 0 1px #ddd;
    box-shadow: 0 0 1px #ddd;
}
#wrap-all #main {
    height: 100%;
}
.mark-danger {
    background-color: #da4f4a;
}
.mark-default {
    background-color: #cacfd3;
}
.mark {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.wt-scroll {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-overflow-scrolling: touch;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 6px;
    height: 9px;
}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:horizontal, ::-webkit-scrollbar-thumb:vertical {
    background-color: #dbd6cd;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,.04);
}
